<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First Sinatra Application</title>
  </head>
  <body>
    <head>
      <nav>
        <a href="/">Home</a>
        |
        <a href="/contact">Contact Us</a>
        |
        <a href="/survey">Survey</a>
      </nav>
    </head>
    <hr>
    <%= yield %>
  </body>
</html>
