<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Randomizer</title>
    <style >
      th {
        border-top: 1px solid #b2e1ff;
        background: #dd4814;
        border-color: #dd4814;
        padding: 0px 0px;
        border-radius: 22px;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: #E4DFDF;
        font-size: 30px;
        font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
        text-decoration: none;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>

    <%= yield  %>
  </body>
</html>
